<!--
  Generated template for the TripulacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tripulación</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  >
  <div (swipe)="swipe($event)">
     <ion-grid>
            
    <ion-row>
      <ion-col col-10>
        <ion-item>
          <ion-label stacked>Chequero</ion-label>
          <!--<ion-input type="text" [(ngModel)]="chequero"></ion-input>-->
      
          <select-searchable
                item-content
                [(ngModel)]="chequero"
                [items]="chequeros"
                itemValueField="idtrabajador"
                itemTextField="nomtrabajador"
                [hasVirtualScroll]="true"
                [canSearch]="true"
                (onChange)="selectChange($event, 'chequero')">
            </select-searchable>
          </ion-item>
      </ion-col>
      <ion-col col-2>
          <button ion-button medium item-right icon-only color="light" (click)=barChequero()>
            <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    


  
  
      <div *ngIf="appCoop!='picada'">
      <ion-row>
          <ion-col col-10>
              <ion-item>
                <ion-label stacked>{{appCoop == 'mecanizada' ? 'Operador de Cosechadora' :'Operador de Alzadora'}}</ion-label>
                <!--<ion-input type="text" [(ngModel)]="opcos"></ion-input>-->

                <select-searchable
                item-content
                [(ngModel)]="opcos"
                [items]="operCosecha"
                itemValueField="idtrabajador"
                itemTextField="nomtrabajador"
                [hasVirtualScroll]="true"
                [canSearch]="true"
                (onChange)="selectChange($event, 'opcos')">
              </select-searchable>

            </ion-item>
          </ion-col>
      <ion-col col-2>
        <button  ion-button medium item-right icon-only color="light" (click)=barOpCos()>
          <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
        </button>
      </ion-col>
      </ion-row>
      </div>
      <div *ngIf="appCoop=='mecanizada'">
<ion-row>
  <ion-col col-10>
  <ion-item >
      <ion-label stacked>Tractorista (1)</ion-label>
      <!--<ion-input type="text" [(ngModel)]="tr1"></ion-input>-->
      <select-searchable
                item-content
                [(ngModel)]="tr1"
                [items]="tractoristas"
                itemValueField="idtrabajador"
                itemTextField="nomtrabajador"
                [hasVirtualScroll]="true"
                [canSearch]="true"
                (onChange)="selectChange($event, 'tr1')">
              </select-searchable>
    </ion-item>
  </ion-col>
  <ion-col col-2>
      <button ion-button medium item-right icon-only color="light" (click)=barTr1()>
        <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-8>
    <ion-item>
        <ion-label stacked>Tractorista (2)</ion-label>
        <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
        <select-searchable
                item-content
                [(ngModel)]="tr2"
                [items]="tractoristas"
                itemValueField="idtrabajador"
                itemTextField="nomtrabajador"
                [hasVirtualScroll]="true"
                [canSearch]="true"
                (onChange)="selectChange($event,'tr2')">
              </select-searchable>
      </ion-item>
    </ion-col>
    <ion-col col-2>
        <button ion-button  (click)="removeSelection('tr2')">
            <ion-icon name='close'></ion-icon>
         </button>
</ion-col>
    <ion-col col-2>
        <button ion-button item-right icon-only color="light" (click)=barTr2()>
          <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
        </button>
      </ion-col>

  </ion-row>
  <ion-row>
      <ion-col col-8>
      <ion-item>
          <ion-label stacked>Tractorista (3)</ion-label>
          <!--<ion-input type="text" [(ngModel)]="tr3"></ion-input>-->
          <select-searchable
                  item-content
                  [(ngModel)]="tr3"
                  [items]="tractoristas"
                  itemValueField="idtrabajador"
                  itemTextField="nomtrabajador"
                  [hasVirtualScroll]="true"
                  [canSearch]="true"
                  (onChange)="selectChange($event,'tr3')">
                </select-searchable>
        </ion-item>
      </ion-col>
      <ion-col col-2>
          <button ion-button  (click)="removeSelection('tr3')">
              <ion-icon name='close'></ion-icon>
           </button>
  </ion-col>
      <ion-col col-2>
          <button ion-button item-right icon-only color="light" (click)=barTr3()>
            <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
          </button>
        </ion-col>
  
    </ion-row>
      </div>
      <div *ngIf="appCoop=='mecanizada' || appCoop == 'manual'">
    <ion-row>
        <ion-col col-8>
        <ion-item>
            <ion-label stacked>Supervisor de Alce</ion-label>
            <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
            <select-searchable
                    item-content
                    [(ngModel)]="supAlce"
                    [items]="supervisores"
                    itemValueField="idtrabajador"
                    itemTextField="nomtrabajador"
                    [hasVirtualScroll]="true"
                    [canSearch]="true"
                    (onChange)="selectChange($event,'supAlce')">
                  </select-searchable>
          </ion-item>
        </ion-col>
        <ion-col col-2>
            <button ion-button  (click)="removeSelection('supAlce')">
                <ion-icon name='close'></ion-icon>
             </button>
    </ion-col>
        <ion-col col-2>
            <button ion-button item-right icon-only color="light" (click)=barSupAlce()>
              <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
            </button>
          </ion-col>
    
      </ion-row>
      <h4>Ayudantes</h4>
      <!-- #region ayudantes -->
      <ion-row>
          <ion-col col-8>
          <ion-item>
              <ion-label stacked>Ayudante (1)</ion-label>
              <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
              <select-searchable
                      item-content
                      [(ngModel)]="ayud1"
                      [items]="ayudantes"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'ayud1')">
                    </select-searchable>
            </ion-item>
          </ion-col>
          <ion-col col-2>
              <button ion-button  (click)="removeSelection('ayud1')">
                  <ion-icon name='close'></ion-icon>
               </button>
      </ion-col>
          <ion-col col-2>
              <button ion-button item-right icon-only color="light" (click)=barAyud1()>
                <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
              </button>
            </ion-col>
      
        </ion-row>
      <ion-row>
            <ion-col col-8>
            <ion-item>
                <ion-label stacked>Ayudante (2)</ion-label>
                <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
                <select-searchable
                        item-content
                        [(ngModel)]="ayud2"
                        [items]="ayudantes"
                        itemValueField="idtrabajador"
                        itemTextField="nomtrabajador"
                        [hasVirtualScroll]="true"
                        [canSearch]="true"
                        (onChange)="selectChange($event,'ayud2')">
                      </select-searchable>
              </ion-item>
            </ion-col>
            <ion-col col-2>
                <button ion-button  (click)="removeSelection('ayud2')">
                    <ion-icon name='close'></ion-icon>
                 </button>
        </ion-col>
            <ion-col col-2>
                <button ion-button item-right icon-only color="light" (click)=barAyud2()>
                  <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
                </button>
              </ion-col>
        
        </ion-row>
      <ion-row>
        <ion-col col-8>
        <ion-item>
            <ion-label stacked>Ayudante (3)</ion-label>
            <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
            <select-searchable
                    item-content
                    [(ngModel)]="ayud3"
                    [items]="ayudantes"
                    itemValueField="idtrabajador"
                    itemTextField="nomtrabajador"
                    [hasVirtualScroll]="true"
                    [canSearch]="true"
                    (onChange)="selectChange($event,'ayud3')">
                  </select-searchable>
          </ion-item>
        </ion-col>
        <ion-col col-2>
            <button ion-button  (click)="removeSelection('ayud3')">
                <ion-icon name='close'></ion-icon>
              </button>
    </ion-col>
        <ion-col col-2>
            <button ion-button item-right icon-only color="light" (click)="barTrab('ayud3')">
              <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
            </button>
          </ion-col>
    
        </ion-row>
        <ion-row  *ngIf="appCoop=='manual'">
            <ion-col col-8>
            <ion-item>
                <ion-label stacked>Ayudante (4)</ion-label>
                <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
                <select-searchable
                        item-content
                        [(ngModel)]="ayud4"
                        [items]="ayudantes"
                        itemValueField="idtrabajador"
                        itemTextField="nomtrabajador"
                        [hasVirtualScroll]="true"
                        [canSearch]="true"
                        (onChange)="selectChange($event,'ayud4')">
                      </select-searchable>
              </ion-item>
            </ion-col>
            <ion-col col-2>
                <button ion-button  (click)="removeSelection('ayud4')">
                    <ion-icon name='close'></ion-icon>
                 </button>
        </ion-col>
            <ion-col col-2>
                <button ion-button item-right icon-only color="light" (click)="barTrab('ayud4')">
                  <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
                </button>
              </ion-col>
        
        </ion-row>
      <ion-row  *ngIf="appCoop=='manual'">
        <ion-col col-8>
        <ion-item>
            <ion-label stacked>Ayudante (5)</ion-label>
            <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
            <select-searchable
                    item-content
                    [(ngModel)]="ayud5"
                    [items]="ayudantes"
                    itemValueField="idtrabajador"
                    itemTextField="nomtrabajador"
                    [hasVirtualScroll]="true"
                    [canSearch]="true"
                    (onChange)="selectChange($event,'ayud5')">
                  </select-searchable>
          </ion-item>
        </ion-col>
        <ion-col col-2>
            <button ion-button  (click)="removeSelection('ayud5')">
                <ion-icon name='close'></ion-icon>
              </button>
    </ion-col>
        <ion-col col-2>
            <button ion-button item-right icon-only color="light" (click)="barTrab('ayud5')">
              <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
            </button>
          </ion-col>
    
        </ion-row>
      <ion-row  *ngIf="appCoop=='manual'">
          <ion-col col-8>
          <ion-item>
              <ion-label stacked>Ayudante (6)</ion-label>
              <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
              <select-searchable
                      item-content
                      [(ngModel)]="ayud6"
                      [items]="ayudantes"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'ayud6')">
                    </select-searchable>
            </ion-item>
          </ion-col>
          <ion-col col-2>
              <button ion-button  (click)="removeSelection('ayud6')">
                  <ion-icon name='close'></ion-icon>
                </button>
      </ion-col>
          <ion-col col-2>
              <button ion-button item-right icon-only color="light" (click)="barTrab('ayud6')">
                <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
              </button>
            </ion-col>
      
          </ion-row>
          <!-- #endregion -->
        </div>
      <h4 *ngIf="appCoop=='manual'">Despuntadores</h4>
      <!-- #region despuntadores -->
      <ion-row  *ngIf="appCoop=='manual'">
          <ion-col col-8>
          <ion-item>
              <ion-label stacked>Despuntador (1)</ion-label>
              <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
              <select-searchable
                      item-content
                      [(ngModel)]="desp1"
                      [items]="despuntadores"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'desp1')">
                    </select-searchable>
            </ion-item>
          </ion-col>
          <ion-col col-2>
              <button ion-button  (click)="removeSelection('desp1')">
                  <ion-icon name='close'></ion-icon>
                </button>
      </ion-col>
          <ion-col col-2>
              <button ion-button item-right icon-only color="light" (click)="barTrab('desp1')">
                <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
              </button>
            </ion-col>
      
          </ion-row>
      <ion-row  *ngIf="appCoop=='manual'">
          <ion-col col-8>
          <ion-item>
              <ion-label stacked>Despuntador (2)</ion-label>
              <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
              <select-searchable
                      item-content
                      [(ngModel)]="desp2"
                      [items]="despuntadores"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'desp2')">
                    </select-searchable>
            </ion-item>
          </ion-col>
          <ion-col col-2>
              <button ion-button  (click)="removeSelection('desp2')">
                  <ion-icon name='close'></ion-icon>
                </button>
      </ion-col>
          <ion-col col-2>
              <button ion-button item-right icon-only color="light" (click)="barTrab('desp2')">
                <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
              </button>
            </ion-col>
      
          </ion-row>
      <ion-row  *ngIf="appCoop=='manual'">
          <ion-col col-8>
          <ion-item>
              <ion-label stacked>Despuntador (3)</ion-label>
              <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
              <select-searchable
                      item-content
                      [(ngModel)]="desp3"
                      [items]="despuntadores"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'desp3')">
                    </select-searchable>
            </ion-item>
          </ion-col>
          <ion-col col-2>
              <button ion-button  (click)="removeSelection('desp3')">
                  <ion-icon name='close'></ion-icon>
                </button>
      </ion-col>
          <ion-col col-2>
              <button ion-button item-right icon-only color="light" (click)="barTrab('desp3')">
                <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
              </button>
            </ion-col>
      
          </ion-row>
      <ion-row  *ngIf="appCoop=='manual'">
          <ion-col col-8>
          <ion-item>
              <ion-label stacked>Despuntador (4)</ion-label>
              <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
              <select-searchable
                      item-content
                      [(ngModel)]="desp4"
                      [items]="despuntadores"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'desp4')">
                    </select-searchable>
            </ion-item>
          </ion-col>
          <ion-col col-2>
              <button ion-button  (click)="removeSelection('desp4')">
                  <ion-icon name='close'></ion-icon>
                </button>
      </ion-col>
          <ion-col col-2>
              <button ion-button item-right icon-only color="light" (click)="barTrab('desp4')">
                <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
              </button>
            </ion-col>
      
          </ion-row>
      <ion-row  *ngIf="appCoop=='manual'">
          <ion-col col-8>
          <ion-item>
              <ion-label stacked>Despuntador (5)</ion-label>
              <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
              <select-searchable
                      item-content
                      [(ngModel)]="desp5"
                      [items]="despuntadores"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'desp5')">
                    </select-searchable>
            </ion-item>
          </ion-col>
          <ion-col col-2>
              <button ion-button  (click)="removeSelection('desp5')">
                  <ion-icon name='close'></ion-icon>
                </button>
      </ion-col>
          <ion-col col-2>
              <button ion-button item-right icon-only color="light" (click)="barTrab('desp5')">
                <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
              </button>
            </ion-col>
      
          </ion-row>
      
      <!-- #endregion -->
      <div *ngIf="appCoop=='mecanizada'">
          <h4>Acomodadores</h4>
        <ion-row>
            <ion-col col-8>
            <ion-item>
                <ion-label stacked>Acomodador (1)</ion-label>
                <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
                <select-searchable
                        item-content
                        [(ngModel)]="acom1"
                        [items]="acomodadores"
                        itemValueField="idtrabajador"
                        itemTextField="nomtrabajador"
                        [hasVirtualScroll]="true"
                        [canSearch]="true"
                        (onChange)="selectChange($event, 'acom1')">
                      </select-searchable>
              </ion-item>
            </ion-col>
            <ion-col col-2>
                <button ion-button  (click)="removeSelection('acom1')">
                    <ion-icon name='close'></ion-icon>
                  </button>
        </ion-col>
            <ion-col col-2>
                <button ion-button item-right icon-only color="light" (click)=barAcom1()>
                  <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
                </button>
              </ion-col>
        
          </ion-row>
          <ion-row>
              <ion-col col-8>
              <ion-item>
                  <ion-label stacked>Acomodador (2)</ion-label>
                  <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
                  <select-searchable
                          item-content
                          [(ngModel)]="acom2"
                          [items]="acomodadores"
                          itemValueField="idtrabajador"
                          itemTextField="nomtrabajador"
                          [hasVirtualScroll]="true"
                          [canSearch]="true"
                          (onChange)="selectChange($event, 'acom2')">
                        </select-searchable>
                </ion-item>
              </ion-col>
              <ion-col col-2>
                  <button ion-button  (click)="removeSelection('acom2')">
                      <ion-icon name='close'></ion-icon>
                    </button>
          </ion-col>
              <ion-col col-2>
                  <button ion-button item-right icon-only color="light" (click)=barAcom2()>
                    <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
                  </button>
                </ion-col>
          
            </ion-row> 
          </div>
            



  </ion-grid> 
</div>
</ion-content>
