<!--
  Generated template for the DetalleEnvioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar>
        <ion-title>
          Envio {{envio.envio}}
        </ion-title>
        <!-- <ion-buttons start>
          <button ion-button (click)="dismiss()">
            <span ion-text color="wh" showWhen="ios">Cancel</span>
            <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
          </button>
        </ion-buttons> -->
        
        <ion-buttons *ngIf="appCoop != 'picada'" end>
            <button ion-button (click)="writeNFC()">
                <span ion-text color="white" showWhen="android">NFC</span>
                <ion-icon name="pricetag" showWhen="android,windows"></ion-icon>
              </button>
        </ion-buttons>
        <ion-buttons *ngIf="appCoop != 'picada'" end end>
          <button ion-button (click)="imprimir()">
              <span ion-text color="white" showWhen="android">Imprimir</span>
              <ion-icon name="print" showWhen="android,windows"></ion-icon>
            </button>

          <button ion-button *ngIf="editable" (click)="editar()">
            <span ion-text color="white"  showWhen="android">Editar</span>
            <ion-icon name="pencil" showWhen="android,windows"></ion-icon>
          </button>
        </ion-buttons>
      
      </ion-toolbar>

</ion-header>


<ion-content >
    <ion-item *ngIf="appCoop == 'picada'">
        <qrcode [qrdata]="createdCode" [size]="256" [level]="'L'"></qrcode>
    </ion-item>
<ion-list>
 
  <ion-item>
    <p>Fecha:</p><p> {{envio.fechaEnvio}}</p>
    <p>Hora:</p><p> {{envio.horaEnvio}}</p>
  </ion-item>
  <ion-item>
    <h2>Transporte</h2>
    <p>Vehículo:</p><p> {{envio.vehiculo}}</p>
    <p *ngIf="envio.gondola != envio.vehiculo">Góndola:</p><p *ngIf="envio.gondola != envio.vehiculo"> {{envio.gondola}}</p>
    <p>Conductor:</p><p> {{envio.conductor}}</p>
  </ion-item>
  <ion-item>
    <h2>Tripulación</h2>
    <p>Bloque:</p><p> {{envio.dsbloque}}</p>
    <p>Chequero:</p><p> {{envio.chequero}}</p>
    <p *ngIf="appCoop =='mecanizada'">Operador de Cosechadora:</p>
    <p *ngIf="appCoop =='manual'">Operador de Alzadora:</p>
    <p> {{envio.opcos}}</p>
    <br>
    <div *ngIf="appCoop =='manual'">
    <p>Tractorista (1):</p><p> {{envio.tractorista1}}</p>
    <p>Tractorista (2):</p><p> {{envio.tractorista2}}</p>
    <p>Tractorista (3):</p><p> {{envio.tractorista3}}</p>
  </div>
    <br>
    <p>Supervisor de Alce:</p><p> {{envio.supalce}}</p>
    <br>
    <p>Ayudante (1):</p><p> {{envio.ayudante1}}</p>
    <p>Ayudante (2):</p><p> {{envio.ayudante2}}</p>
    <p>Ayudante (3):</p><p> {{envio.ayudante3}}</p>
    <div *ngIf="appCoop =='manual'">
    <p>Ayudante (4):</p><p> {{envio.ayudante4}}</p>
    <p>Ayudante (5):</p><p> {{envio.ayudante5}}</p>
    <p>Ayudante (6):</p><p> {{envio.ayudante6}}</p>
  </div>
    <br>
    <p>Acomodador (1):</p><p> {{envio.acomodador1}}</p>
    <p>Acomodador (2):</p><p> {{envio.acomodador2}}</p>
    <br>
  </ion-item>
  <ion-item *ngIf="appCoop =='manual'">
    <p>Despuntador (1):</p><p> {{envio.despuntador1}}</p>
    <p>Despuntador (2):</p><p> {{envio.despuntador2}}</p>
    <p>Despuntador (3):</p><p> {{envio.despuntador3}}</p>
    <p>Despuntador (4):</p><p> {{envio.despuntador4}}</p>
    <p>Despuntador (5):</p><p> {{envio.despuntador5}}</p>
    <!-- <p>Acomodador (3):</p><p> {{envio.acomodador3}}</p> -->
  </ion-item>
  
  <ion-item *ngIf="appCoop=='mecanizada'">
    <h2>Maquinaria</h2>
    <p>Cosechadora:</p><p> {{envio.cosechadora}}</p>
    <p>Tractor (1):</p><p> {{envio.tractor1}}</p>
    <p>Tractor (2):</p><p> {{envio.tractor2}}</p>
    <p>Tractor (3):</p><p> {{envio.tractor3}}</p>
  </ion-item>
  <ion-item *ngIf="appCoop=='manual'"> 
    <h2>Rozadores y uñadas</h2>
    <ion-list>
      
        <ion-item *ngFor="let r of rozadores; let i = index">
          <p item-left col-8 text-wrap>{{r.nomtrabajador}}</p>
          <p col-4 class="unadas">{{r.unadas}}</p>
        
        </ion-item>
        
    </ion-list>
  </ion-item>
</ion-list>
</ion-content>
