<!--
  Generated template for the RozadoresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Rozadores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<!-- agregar rozador -->

<ion-grid>
    <ion-row>
        <ion-col col-10>
          <ion-item>
            <ion-label stacked>Rozador</ion-label>
            <!--<ion-input type="text" [(ngModel)]="chequero"></ion-input>-->
        
            <select-searchable
                  item-content
                  [(ngModel)]="rozador"
                  [items]="rozadores"
                  itemValueField="idtrabajador"
                  itemTextField="nomtrabajador"
                  [hasVirtualScroll]="true"
                  [canSearch]="true"
                  (onChange)="selectChange($event)">
              </select-searchable>
            </ion-item>
        </ion-col>
        <ion-col col-2>
            <button ion-button medium item-right icon-only color="light" (click)="barRozador('rozador')">
              <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
  <ion-row>
    
  <ion-col col-3>
      <button ion-button large item-left icon-only color="light" (click)="decremento()" [disabled]="!seleccionado">
          <ion-icon name="remove"></ion-icon>
        </button>
  </ion-col>
  <ion-col col-2>
      <ion-input [(ngModel)]="unadas" type="number" disabled="true"></ion-input>
  </ion-col>
  <ion-col col-3>
    <button ion-button large icon-only color="light" (click)="incremento()" [disabled]="!seleccionado">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-col>
  <ion-col col-2>

  </ion-col>
  <ion-col col-2>
      <button ion-button large item-right icon-only color="verdecassa" [disabled]="unadas==0" (click)="agregar()">
          <ion-icon name="checkmark" ></ion-icon>
        </button>
  </ion-col>

  </ion-row>
</ion-grid>
<p>Rozadores: {{listRozadores.length}}</p>
<!-- LISTA DE ROZADORES -->
<ion-list>
    <ion-item-sliding *ngFor="let r of listRozadores; let i = index" >
      <ion-item (click)="editar(r,i)">
        <ion-label item-start col-8 text-wrap>{{r.nomtrabajador}}</ion-label>
        <ion-label item-end col-4 class="unadas">{{r.unadas}}</ion-label>
      
      </ion-item>
      
        <ion-item-options side="right">
          <button ion-button icon-only color="danger" (click)="eliminar(r,i)">
            <ion-icon name="close"></ion-icon>
            
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
