<!--
  Generated template for the PrincipalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-menu [content]="content">

  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <ion-item menuClose *ngFor="let p of pages">
      
        <div *ngIf="p.mostrar" (click)="openPage(p)"  icon-left>
        <ion-icon [name]="p.icono"></ion-icon>{{p.title}}
      </div>
    </ion-item>
    <ion-item><ion-label>Versión - {{versionnumber}}</ion-label></ion-item>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav id="nav" [root]="PrincipalPage" #content swipeBackEnabled="false"></ion-nav>
<ion-header>
  <ion-navbar [color]="verdecassa">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="appCoop == 'mecanizada'">Mecanizada</ion-title>
    <ion-title *ngIf="appCoop == 'manual'">Manual</ion-title>
    <ion-title *ngIf="appCoop == 'picada'">Caña Picada</ion-title>
    <ion-title *ngIf="appCoop == 'coop'">Manual - Cooperativas</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<ion-card (click)=abreCrear() *ngIf="!admon">
  <img *ngIf="appCoop=='mecanizada'" src="assets/imgs/CosechaMec.jpg"/>
  <img *ngIf="appCoop =='manual' || appCoop == 'coop'" src="assets/imgs/CosechaManual.jpg"/>
  <img *ngIf="appCoop=='picada'" src="assets/imgs/cosechapicada.jpg"/>
  <ion-card-content>
    <ion-card-title>
      Crear Envíos
      </ion-card-title>
    <p>
      Crear envío de caña a ingenio
    </p>
  </ion-card-content>
</ion-card>
<ion-card (click)=abreConsultar() *ngIf="!admon">
  <img src="assets/imgs/IngenioCImec.jpg"/>
  <ion-card-content>
    <ion-card-title>
      Consultar Envíos Emitidos
      </ion-card-title>
    <p>
      Ver últimos envíos de caña a ingenio
    </p>
  </ion-card-content>
</ion-card>
<ion-card (click)=abreCorreccion() *ngIf="admon">
  <img src="assets/imgs/administrativo.PNG"/>
  <ion-card-content>
    <ion-card-title>
      Corregir Envíos
      </ion-card-title>
    <p>
      Permite modificar el contenido de la tarjeta NFC.
    </p>
  </ion-card-content>
</ion-card>
</ion-content>
