<!--
  Generated template for the EdicionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar: #{{envio == undefined ? '' : envio.envio}}</ion-title>
  </ion-navbar>
<ion-toolbar no-border-top>
  <ion-segment [(ngModel)]="seccion">
    <ion-segment-button value="tripulacion">
      Tripulación
    </ion-segment-button>
    <ion-segment-button value="equipos">
      Equipos
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
</ion-header>


<ion-content>
  
  <div [ngSwitch]="seccion" >
    
      
        <ion-grid *ngSwitchCase="'tripulacion'">
            <ion-row *ngIf="appCoop!='mecanizada'">
                <ion-col col-12>
                    <ion-item>
                        <ion-label stacked>Fecha de Corte</ion-label>
                        <ion-input placeholder="dd/MM/yyyy" [(ngModel)]="fecha"  [disabled]="appCoop == 'mecanizada'" [readonly] = "true" (click) = "showDatePicker('fecha','date')">
                            
                        </ion-input>
                      </ion-item>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="appCoop!='mecanizada'">
                  <ion-col col-12>
                      <ion-item>
                          <ion-label stacked>Hora de Corte</ion-label>
                          <ion-input placeholder="HH:mm" [(ngModel)]="hora"  [disabled]="appCoop=='mecanizada'" [readonly] = "true" (click) = "showDatePicker('hora','time')">
                            
                          </ion-input>
                        </ion-item>
                  </ion-col>
                </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label stacked>Chequero</ion-label>
          <!--<ion-input type="text" [(ngModel)]="chequero"></ion-input>-->
      
          <select-searchable
                item-content
                [(ngModel)]="chequero"
                [items]="chequeros"
                itemValueField="idtrabajador"
                itemTextField="nomtrabajador"
                [hasVirtualScroll]="true"
                [canSearch]="true"
                (onChange)="selectChange($event, 'idchequero')">
            </select-searchable>
          </ion-item>
      </ion-col>
     
      </ion-row>
    


  
  
      <div *ngIf="appCoop!='picada'">
      <ion-row>
          <ion-col col-12>
              <ion-item>
                <ion-label stacked>{{appCoop == 'mecanizada' ? 'Operador de Cosechadora' :'Operador de Alzadora'}}</ion-label>
                <!--<ion-input type="text" [(ngModel)]="opcos"></ion-input>-->

                <select-searchable
                item-content
                [(ngModel)]="opcos"
                [items]="operCosecha"
                itemValueField="idtrabajador"
                itemTextField="nomtrabajador"
                [hasVirtualScroll]="true"
                [canSearch]="true"
                (onChange)="selectChange($event, 'idchofer')">
              </select-searchable>

            </ion-item>
          </ion-col>
      
      </ion-row>
      </div>
      <div *ngIf="appCoop=='mecanizada'">
<ion-row>
  <ion-col col-12>
  <ion-item >
      <ion-label stacked>Tractorista (1)</ion-label>
      <!--<ion-input type="text" [(ngModel)]="tr1"></ion-input>-->
      <select-searchable
                item-content
                [(ngModel)]="tr1"
                [items]="tractoristas"
                itemValueField="idtrabajador"
                itemTextField="nomtrabajador"
                [hasVirtualScroll]="true"
                [canSearch]="true"
                (onChange)="selectChange($event, 'tractorista1')">
              </select-searchable>
    </ion-item>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-10>
    <ion-item>
        <ion-label stacked>Tractorista (2)</ion-label>
        <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
        <select-searchable
                item-content
                [(ngModel)]="tr2"
                [items]="tractoristas"
                itemValueField="idtrabajador"
                itemTextField="nomtrabajador"
                [hasVirtualScroll]="true"
                [canSearch]="true"
                (onChange)="selectChange($event,'tractorista2')">
              </select-searchable>
      </ion-item>
    </ion-col>
    <ion-col col-2>
        <button ion-button  (click)="removeSelection('tr2')">
            <ion-icon name='close'></ion-icon>
         </button>
</ion-col>
    

  </ion-row>
  <ion-row>
      <ion-col col-10>
      <ion-item>
          <ion-label stacked>Tractorista (3)</ion-label>
          <!--<ion-input type="text" [(ngModel)]="tr3"></ion-input>-->
          <select-searchable
                  item-content
                  [(ngModel)]="tr3"
                  [items]="tractoristas"
                  itemValueField="idtrabajador"
                  itemTextField="nomtrabajador"
                  [hasVirtualScroll]="true"
                  [canSearch]="true"
                  (onChange)="selectChange($event,'tractorista3')">
                </select-searchable>
        </ion-item>
      </ion-col>
      <ion-col col-2>
          <button ion-button  (click)="removeSelection('tr3')">
              <ion-icon name='close'></ion-icon>
           </button>
  </ion-col>
      
  
    </ion-row>
      </div>
      <div *ngIf="appCoop=='mecanizada' || appCoop == 'manual'">
    <ion-row>
        <ion-col col-10>
        <ion-item>
            <ion-label stacked>Supervisor de Alce</ion-label>
            <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
            <select-searchable
                    item-content
                    [(ngModel)]="supAlce"
                    [items]="supervisores"
                    itemValueField="idtrabajador"
                    itemTextField="nomtrabajador"
                    [hasVirtualScroll]="true"
                    [canSearch]="true"
                    (onChange)="selectChange($event,'idsupalce')">
                  </select-searchable>
          </ion-item>
        </ion-col>
        <ion-col col-2>
            <button ion-button  (click)="removeSelection('supAlce')">
                <ion-icon name='close'></ion-icon>
             </button>
    </ion-col>
        
    
      </ion-row>
      <h4>Ayudantes</h4>
      <!-- #region ayudantes -->
      <ion-row>
          <ion-col col-10>
          <ion-item>
              <ion-label stacked>Ayudante (1)</ion-label>
              <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
              <select-searchable
                      item-content
                      [(ngModel)]="ayud1"
                      [items]="ayudantes"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'ayud1')">
                    </select-searchable>
            </ion-item>
          </ion-col>
          <ion-col col-2>
              <button ion-button  (click)="removeSelection('ayud1')">
                  <ion-icon name='close'></ion-icon>
               </button>
      </ion-col>
         
      
        </ion-row>
      <ion-row>
            <ion-col col-10>
            <ion-item>
                <ion-label stacked>Ayudante (2)</ion-label>
                <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
                <select-searchable
                        item-content
                        [(ngModel)]="ayud2"
                        [items]="ayudantes"
                        itemValueField="idtrabajador"
                        itemTextField="nomtrabajador"
                        [hasVirtualScroll]="true"
                        [canSearch]="true"
                        (onChange)="selectChange($event,'ayud2')">
                      </select-searchable>
              </ion-item>
            </ion-col>
            <ion-col col-2>
                <button ion-button  (click)="removeSelection('ayud2')">
                    <ion-icon name='close'></ion-icon>
                 </button>
        </ion-col>
            
        
        </ion-row>
      <ion-row>
        <ion-col col-10>
        <ion-item>
            <ion-label stacked>Ayudante (3)</ion-label>
            <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
            <select-searchable
                    item-content
                    [(ngModel)]="ayud3"
                    [items]="ayudantes"
                    itemValueField="idtrabajador"
                    itemTextField="nomtrabajador"
                    [hasVirtualScroll]="true"
                    [canSearch]="true"
                    (onChange)="selectChange($event,'ayud3')">
                  </select-searchable>
          </ion-item>
        </ion-col>
        <ion-col col-2>
            <button ion-button  (click)="removeSelection('ayud3')">
                <ion-icon name='close'></ion-icon>
              </button>
    </ion-col>
        
    
        </ion-row>
        <ion-row  *ngIf="appCoop=='manual'">
            <ion-col col-10>
            <ion-item>
                <ion-label stacked>Ayudante (4)</ion-label>
                <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
                <select-searchable
                        item-content
                        [(ngModel)]="ayud4"
                        [items]="ayudantes"
                        itemValueField="idtrabajador"
                        itemTextField="nomtrabajador"
                        [hasVirtualScroll]="true"
                        [canSearch]="true"
                        (onChange)="selectChange($event,'ayud4')">
                      </select-searchable>
              </ion-item>
            </ion-col>
            <ion-col col-2>
                <button ion-button  (click)="removeSelection('ayud4')">
                    <ion-icon name='close'></ion-icon>
                 </button>
        </ion-col>
            
        
        </ion-row>
      <ion-row  *ngIf="appCoop=='manual'">
        <ion-col col-10>
        <ion-item>
            <ion-label stacked>Ayudante (5)</ion-label>
            <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
            <select-searchable
                    item-content
                    [(ngModel)]="ayud5"
                    [items]="ayudantes"
                    itemValueField="idtrabajador"
                    itemTextField="nomtrabajador"
                    [hasVirtualScroll]="true"
                    [canSearch]="true"
                    (onChange)="selectChange($event,'ayud5')">
                  </select-searchable>
          </ion-item>
        </ion-col>
        <ion-col col-2>
            <button ion-button  (click)="removeSelection('ayud5')">
                <ion-icon name='close'></ion-icon>
              </button>
    </ion-col>
        
    
        </ion-row>
      <ion-row  *ngIf="appCoop=='manual'">
          <ion-col col-10>
          <ion-item>
              <ion-label stacked>Ayudante (6)</ion-label>
              <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
              <select-searchable
                      item-content
                      [(ngModel)]="ayud6"
                      [items]="ayudantes"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'ayud6')">
                    </select-searchable>
            </ion-item>
          </ion-col>
          <ion-col col-2>
              <button ion-button  (click)="removeSelection('ayud6')">
                  <ion-icon name='close'></ion-icon>
                </button>
      </ion-col>
          
      
          </ion-row>
          <!-- #endregion -->
        </div>
      <h4 *ngIf="appCoop=='manual'">Despuntadores</h4>
      <!-- #region despuntadores -->
      <ion-row  *ngIf="appCoop=='manual'">
          <ion-col col-10>
          <ion-item>
              <ion-label stacked>Despuntador (1)</ion-label>
              <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
              <select-searchable
                      item-content
                      [(ngModel)]="desp1"
                      [items]="despuntadores"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'desp1')">
                    </select-searchable>
            </ion-item>
          </ion-col>
          <ion-col col-2>
              <button ion-button  (click)="removeSelection('desp1')">
                  <ion-icon name='close'></ion-icon>
                </button>
      </ion-col>
          
      
          </ion-row>
      <ion-row  *ngIf="appCoop=='manual'">
          <ion-col col-10>
          <ion-item>
              <ion-label stacked>Despuntador (2)</ion-label>
              <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
              <select-searchable
                      item-content
                      [(ngModel)]="desp2"
                      [items]="despuntadores"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'desp2')">
                    </select-searchable>
            </ion-item>
          </ion-col>
          <ion-col col-2>
              <button ion-button  (click)="removeSelection('desp2')">
                  <ion-icon name='close'></ion-icon>
                </button>
      </ion-col>
          
      
          </ion-row>
      <ion-row  *ngIf="appCoop=='manual'">
          <ion-col col-10>
          <ion-item>
              <ion-label stacked>Despuntador (3)</ion-label>
              <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
              <select-searchable
                      item-content
                      [(ngModel)]="desp3"
                      [items]="despuntadores"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'desp3')">
                    </select-searchable>
            </ion-item>
          </ion-col>
          <ion-col col-2>
              <button ion-button  (click)="removeSelection('desp3')">
                  <ion-icon name='close'></ion-icon>
                </button>
      </ion-col>
          
      
          </ion-row>
      <ion-row  *ngIf="appCoop=='manual'">
          <ion-col col-10>
          <ion-item>
              <ion-label stacked>Despuntador (4)</ion-label>
              <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
              <select-searchable
                      item-content
                      [(ngModel)]="desp4"
                      [items]="despuntadores"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'desp4')">
                    </select-searchable>
            </ion-item>
          </ion-col>
          <ion-col col-2>
              <button ion-button  (click)="removeSelection('desp4')">
                  <ion-icon name='close'></ion-icon>
                </button>
      </ion-col>
          
      
          </ion-row>
      <ion-row  *ngIf="appCoop=='manual'">
          <ion-col col-10>
          <ion-item>
              <ion-label stacked>Despuntador (5)</ion-label>
              <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
              <select-searchable
                      item-content
                      [(ngModel)]="desp5"
                      [items]="despuntadores"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'desp5')">
                    </select-searchable>
            </ion-item>
          </ion-col>
          <ion-col col-2>
              <button ion-button  (click)="removeSelection('desp5')">
                  <ion-icon name='close'></ion-icon>
                </button>
      </ion-col>
          
      
          </ion-row>
      
      <!-- #endregion -->
      <div *ngIf="appCoop=='mecanizada'">
          <h4>Acomodadores</h4>
        <ion-row>
            <ion-col col-10>
            <ion-item>
                <ion-label stacked>Acomodador (1)</ion-label>
                <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
                <select-searchable
                        item-content
                        [(ngModel)]="acom1"
                        [items]="acomodadores"
                        itemValueField="idtrabajador"
                        itemTextField="nomtrabajador"
                        [hasVirtualScroll]="true"
                        [canSearch]="true"
                        (onChange)="selectChange($event, 'acom1')">
                      </select-searchable>
              </ion-item>
            </ion-col>
            <ion-col col-2>
                <button ion-button  (click)="removeSelection('acom1')">
                    <ion-icon name='close'></ion-icon>
                  </button>
        </ion-col>
            
        
          </ion-row>
          <ion-row>
              <ion-col col-10>
              <ion-item>
                  <ion-label stacked>Acomodador (2)</ion-label>
                  <!--<ion-input type="text" [(ngModel)]="tr2"></ion-input>-->
                  <select-searchable
                          item-content
                          [(ngModel)]="acom2"
                          [items]="acomodadores"
                          itemValueField="idtrabajador"
                          itemTextField="nomtrabajador"
                          [hasVirtualScroll]="true"
                          [canSearch]="true"
                          (onChange)="selectChange($event, 'acom2')">
                        </select-searchable>
                </ion-item>
              </ion-col>
              <ion-col col-2>
                  <button ion-button  (click)="removeSelection('acom2')">
                      <ion-icon name='close'></ion-icon>
                    </button>
          </ion-col>
              
          
            </ion-row> 
          </div>
            



  </ion-grid> 
  
    <ion-grid *ngSwitchCase="'equipos'">
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label stacked>Conductor</ion-label>
                    <!-- <ion-input type="text" [(ngModel)]="conductor"></ion-input> -->
                    <select-searchable
                      item-content
                      [(ngModel)]="conductor"
                      [items]="choferes"
                      itemValueField="idtrabajador"
                      itemTextField="nomtrabajador"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      [disabled]="carga==2"
                      (onChange)="selectChange($event,'idconductor')">
                    </select-searchable>
                    
                  </ion-item>
            </ion-col>
            
        </ion-row>
        <ion-row>
          <ion-col col-10>
              <ion-item>
                  <ion-label stacked>Vehiculo</ion-label>
                  <!-- <ion-input type="text" [(ngModel)]="vehiculo"></ion-input> -->
                  <select-searchable
                      item-content
                      [(ngModel)]="vehiculo"
                      [items]="transportes"
                      itemValueField="idequipo"
                      itemTextField="nombreequipo"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      [disabled]="carga==2"
                      (onChange)="selectChange($event,'idcamion')">
                    </select-searchable>
                </ion-item>
          </ion-col>
          <ion-col col-2>
              <button  ion-button item-right icon-only color="light" (click)=barVehiculo()>
                  <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
                </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="appCoop == 'mecanizada' || appCoop == 'manual'">
            <ion-col col-12>
                <ion-item>
                    <ion-label stacked>Góndola</ion-label>
                    <!-- <ion-input type="text" [(ngModel)]="vehiculo"></ion-input> -->
                    <select-searchable
                        item-content
                        [(ngModel)]="gondola"
                        [items]="gondolas"
                        itemValueField="idequipo"
                        itemTextField="nombreequipo"
                        [hasVirtualScroll]="true"
                        [canSearch]="true"
                        (onChange)="selectChange($event,'idgondola')">
                      </select-searchable>
                  </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12>
                  <ion-item>
                      <ion-label stacked>{{appCoop == 'mecanizada' ? 'Cosechadora' : 'Alzadora'}}</ion-label>
                      <!--<ion-input type="text" [(ngModel)]="cosechadora"></ion-input>-->
                      <select-searchable
                      item-content
                      [(ngModel)]="cosechadora"
                      [items]="cosechadoras"
                      itemValueField="idequipo"
                      itemTextField="nombreequipo"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'idcosechadora')">
                      </select-searchable> 
                      
                    </ion-item>
              </ion-col>
              
            </ion-row>
            <div *ngIf="appCoop=='mecanizada'">
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label stacked>Tractor (1)</ion-label>
                        <!--<ion-input type="text" [(ngModel)]="cosechadora"></ion-input>-->
                        <select-searchable
                        item-content
                        [(ngModel)]="tractor1"
                        [items]="tractores"
                        itemValueField="idequipo"
                        itemTextField="nombreequipo"
                        [hasVirtualScroll]="true"
                        [canSearch]="true"
                        (onChange)="selectChange($event,'tractor1')">
                        </select-searchable> 
                        
                      </ion-item>
                </ion-col>
                
              </ion-row>
      
              <ion-row>
                  <ion-col col-10>
                      <ion-item>
                          <ion-label stacked>Tractor (2)</ion-label>
                          <!--<ion-input type="text" [(ngModel)]="cosechadora"></ion-input>-->
                          <select-searchable
                          item-content
                          [(ngModel)]="tractor2"
                          [items]="tractores"
                          itemValueField="idequipo"
                          itemTextField="nombreequipo"
                          [hasVirtualScroll]="true"
                          [canSearch]="true"
                          (onChange)="selectChange($event,'tractor2')">
                          </select-searchable> 
                        </ion-item>
                  </ion-col>
                  <ion-col col-2>
                          <button ion-button (click)="removeSelection('tractor2')">
                              <ion-icon name='close'></ion-icon>
                           </button>
                  </ion-col>
                  
                </ion-row>
      
                <ion-row>
                    <ion-col col-10>
                        <ion-item>
                            <ion-label stacked>Tractor (3)</ion-label>
                            <!--<ion-input type="text" [(ngModel)]="cosechadora"></ion-input>-->
                            <select-searchable
                            item-content
                            [(ngModel)]="tractor3"
                            [items]="tractores"
                            itemValueField="idequipo"
                            itemTextField="nombreequipo"
                            [hasVirtualScroll]="true"
                            [canSearch]="true"
                            (onChange)="selectChange($event,'tractor3')">
                            </select-searchable> 
                            
                          </ion-item>
                      </ion-col>
                     <ion-col col-2>
                              <button ion-button  (click)="removeSelection('tractor3')">
                                  <ion-icon name='close'></ion-icon>
                               </button>
                      </ion-col>
                    
                    
                  </ion-row>
            </div>
    </ion-grid>

    
  </div>
  
</ion-content>
<ion-footer>
    <ion-toolbar>
      <button ion-button (click)="confirmCambios()" [disabled]="!hayCambios" full>Guardar Cambios</button>
    </ion-toolbar>
  </ion-footer>
