<!--
  Generated template for the FiltroEnviosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Consultar Envíos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label stacked>Desde</ion-label>
    <ion-input displayFormat="dd/MM/yyyy h:mm A" [readonly] = "true" [(ngModel)]="fechaInicio" (click)="showPicker('fechaInicio','dtini')"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Hasta</ion-label>
    <ion-input displayFormat="dd/MM/yyyy h:mm A" [readonly] = "true" [(ngModel)]="fechaFin" (click)="showPicker('fechaFin','dtfin')"></ion-input>
  </ion-item>
  <button ion-button full (click)=filtrar()>Consultar</button>
</ion-content>
