<!--
  Generated template for the ConsultarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Consultar Envíos</ion-title>
  
  </ion-navbar>
  <!-- <ion-item>
  <ion-searchbar start (ionInput)="getItems($event)" [(ngModel)]="filtro" placeholder="Buscar envios, liberaciones, etc"></ion-searchbar>
  
  
</ion-item> -->
</ion-header>


<ion-content>
    

    

      <ion-list>
          <ion-item *ngFor="let item of envios" (click)="presentModal(item)">
            <ion-card>
                <ion-card-header>
                  <ion-grid>
                    <ion-row>
                      <ion-col col-md-6>Envío: {{item.envio}}</ion-col>
                      <ion-col col-md-6>Liberación: {{item.codliberacion}}</ion-col>
                    </ion-row>
                  </ion-grid>
                  
                </ion-card-header>
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                          <ion-col col-md-12>
                          <p>Vehiculo: </p>
                          <p>{{item.vehiculo}}</p>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-md-12>
                           <p> Conductor:</p>
                           <p> {{item.conductor}}</p>
                            </ion-col>
                          </ion-row>
                        <ion-row>
                          <ion-col col-md-6>Fecha: {{item.fechaEnvio}}</ion-col>
                          <ion-col col-md-6>Hora: {{item.horaEnvio}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-md-12>
                            Enviado: {{item.dsenviado}}
                            </ion-col>
                          </ion-row>
                      </ion-grid>
                </ion-card-content>
              </ion-card>
          </ion-item>
        </ion-list>
</ion-content>
