<!--
  Generated template for the CorreccionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Corrección de Envío</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>

        
        <ion-item *ngFor="let c of contenido; let i=index;">
          <ion-label stacked>{{c.campo}} - {{contenido[i].valor}}</ion-label>
          <ion-input type="text" [(ngModel)]="contenido[i].valor" id="{{i}}"></ion-input>
        </ion-item>
        
      <ion-item>
          <button ion-button large (click)=readTag() full>Leer</button>
      </ion-item>
      <ion-item>
          <button ion-button large (click)=writeTag() full>Escribir</button>
      </ion-item>
      </ion-list>
</ion-content>
