<ion-header color="primary">
  <ion-navbar>
    <ion-title>
      Iniciar Sesión
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding >
   <ion-list class="content">

      <ion-item>
        <ion-label floating>Usuario</ion-label>
        <ion-input type="text" clearInput [(ngModel)]="usr"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Contraseña</ion-label>
        <ion-input  [(ngModel)]="pwd" [type]="passwordType" clearOnEdit="false"></ion-input>
    <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
      <button ion-button large full (click)="autenticar()">Acceder</button>
    </ion-list>
    

    <ion-item><ion-label>Versión - {{versionnumber}}</ion-label></ion-item>
</ion-content>
