page-home {
    .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 22px !important;
        margin: 0 auto !important;
     }

     .content::before {
        background-image: url('assets/imgs/fondo-login.png');
        width: 100vw;
        height: 100vh;
      
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
      }
}
