<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ajustes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
        <ion-label stacked>Ambiente</ion-label>
        <ion-select [(ngModel)]="ambiente" (ionChange)=getServer() submitText="Aceptar" cancelText="Cancelar">
          <ion-option value="qaslan">Calidad LAN</ion-option>
          <ion-option value="prdlan">Productivo LAN</ion-option>
          <ion-option value="qaspub">Calidad Externo</ion-option>
          <ion-option value="prdpub">Productivo Externo</ion-option>
        </ion-select>
        <ion-label stacked>Base de datos: {{nomdb}}</ion-label>
      </ion-item>
      <ion-item>
      <ion-label stacked>Servidor</ion-label>
      <ion-input [(ngModel)]="url" type="url" (ionChange)=saveServer() placeholder="URL o IP del servidor"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Uso de Corrección de Envíos</ion-label>
        <ion-toggle [(ngModel)]="checkAdmon"></ion-toggle>
      </ion-item>
      
      <ion-item>
        <ion-label stacked>Aplicativo</ion-label>
        <ion-select [(ngModel)]="aplicativo" submitText="Aceptar" cancelText="Cancelar">
          <ion-option value="mecanizada">MECANIZADA</ion-option>
          <ion-option value="manual">MANUAL</ion-option>
          <ion-option value="coop">COOPERATIVAS</ion-option>
           <ion-option value="picada">PICADA</ion-option>
        </ion-select>
      </ion-item>
    <ion-item>
      <ion-label>Verificar Geo-Referencia</ion-label>
      <ion-toggle [(ngModel)]="checkpoligono"></ion-toggle>
    </ion-item>
    <ion-label stacked>Rango de Envíos</ion-label>
    <ion-item>
        <ion-label stacked>Minimo</ion-label>
        <ion-input [(ngModel)]="minEnvio" type="number" ></ion-input>
      </ion-item>

      <ion-item>
          <ion-label stacked>Máximo</ion-label>
          <ion-input [(ngModel)]="maxEnvio" type="number"></ion-input>
        </ion-item>
      <ion-item>
            <ion-label stacked>Último Envío</ion-label>
            <ion-input [(ngModel)]="ultEnvio" type="number"></ion-input>
          </ion-item>
    <ion-label stacked>Impresora</ion-label>
    <ion-item>
      <ion-label stacked>MAC Address de Impresora</ion-label>
      <ion-input [(ngModel)]="mac" type="text"></ion-input>
     
    </ion-item>
    <ion-item>
      <button ion-button (click)="cleanEnvios()">Borrar Envíos</button>
    </ion-item>
</ion-content>
