<!--
  Generated template for the EnviosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title >Envíos de Caña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #pageTop>
  <div (swipe)="swipe($event)">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
            <ion-item (click)=cambiarLibe()>
                <ion-label stacked>Liberacion</ion-label>
                <ion-input type="text" [(ngModel)]="liberacion" [readonly]="true" ></ion-input>
              </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col col-12>
            <ion-item >
                <button color="primary" ion-button block (click)=leerNFC()><ion-icon name="pricetag"></ion-icon>Leer NFC</button>
            </ion-item>
        </ion-col>
      </ion-row> -->
      <ion-row>
          <ion-col col-12>
              <ion-item>
                  <ion-label stacked>N° Envío</ion-label>
                  <ion-input type="text" [(ngModel)]="envio" [readonly]="true"></ion-input>
                  
                </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-10>
              <ion-item>
                  <ion-label stacked>Conductor</ion-label>
                  <!-- <ion-input type="text" [(ngModel)]="conductor"></ion-input> -->
                  <select-searchable
                    item-content
                    [(ngModel)]="conductor"
                    [items]="choferes"
                    itemValueField="idtrabajador"
                    itemTextField="nomtrabajador"
                    [hasVirtualScroll]="true"
                    [canSearch]="true"
                    [disabled]="carga==2"
                    (onChange)="selectChange($event)">
                  </select-searchable>
                  
                </ion-item>
          </ion-col>
          <ion-col col-2>
              <button  ion-button item-right icon-only color="light" (click)=barConductor()>
                  <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
                </button>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-10>
            <ion-item>
                <ion-label stacked>Vehiculo</ion-label>
                <!-- <ion-input type="text" [(ngModel)]="vehiculo"></ion-input> -->
                <select-searchable
                    item-content
                    [(ngModel)]="vehiculo"
                    [items]="transportes"
                    itemValueField="idequipo"
                    itemTextField="nombreequipo"
                    [hasVirtualScroll]="true"
                    [canSearch]="true"
                    [disabled]="carga==2"
                    (onChange)="selectChange($event)">
                  </select-searchable>
              </ion-item>
        </ion-col>
        <ion-col col-2>
            <button  ion-button item-right icon-only color="light" (click)=barVehiculo()>
                <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
              </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="appCoop == 'mecanizada' || appCoop == 'manual'">
          <ion-col col-10>
              <ion-item>
                  <ion-label stacked>Góndola</ion-label>
                  <!-- <ion-input type="text" [(ngModel)]="vehiculo"></ion-input> -->
                  <select-searchable
                      item-content
                      [(ngModel)]="gondola"
                      [items]="gondolas"
                      itemValueField="idequipo"
                      itemTextField="nombreequipo"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event)">
                    </select-searchable>
                </ion-item>
          </ion-col>
          <ion-col col-2>
              <button  ion-button item-right icon-only color="light" (click)=barGondola()>
                  <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
                </button>
          </ion-col>
        </ion-row>
      <ion-row *ngIf="appCoop == 'mecanizada'">
        <ion-col col-12>
            <ion-item>
                <ion-label>DOBLE JAULA</ion-label>
                <ion-checkbox color="dark" [(ngModel)]="doble" [disabled]="carga == 2" ></ion-checkbox>
              </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
            <ion-item>
                <ion-label stacked>Fecha de Corte</ion-label>
                <ion-input placeholder="dd/MM/yyyy" [(ngModel)]="fecha" (OnChange)="fechaChange()" [disabled]="appCoop == 'mecanizada'" [readonly] = "true" (click) = "showDatePicker('fecha','date')">
                    
                </ion-input>
              </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12>
              <ion-item>
                  <ion-label stacked>Hora de Corte</ion-label>
                  <ion-input placeholder="HH:mm" [(ngModel)]="hora" [disabled]="appCoop=='mecanizada'" [readonly] = "true" (click) = "showDatePicker('hora','time')">
                    
                  </ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label>Viaje de Barrida</ion-label>
                    <ion-checkbox color="dark" [(ngModel)]="barrida"></ion-checkbox>
                  </ion-item>
            </ion-col>
          </ion-row>
        <ion-row>
          <!-- <ion-col col-md-6>
              <button  ion-button icon-only color="primary" (click)=writeEnvioNFC()>
                  <ion-icon name="pricetag"></ion-icon>LLAVERO
                </button>
          </ion-col> -->
          <ion-col col-md-6>
              <button  ion-button full color="green" *ngIf="!doble" (click)=guardarNuevo()>
                  Guardar y nuevo
                </button>
              <button  ion-button color="celeste" *ngIf="doble && carga == 1" (click)=guardarNuevo()>
                    Siguiente Carga
                  </button>
                  <button  ion-button color="green" *ngIf="carga ==2" (click)=guardarNuevo()>
                  Guardar Carga 2
                </button>
                  <button  ion-button color="danger" icon-only *ngIf="carga==2" (click)=finEnvio()>
                    <ion-icon name="close"></ion-icon>
                  </button>
          </ion-col>
        </ion-row>
    </ion-grid>
    
  </div>
    </ion-content>
