// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #064074,//#6C8DB1,//#488aff,
  secondary:  #466672,// #8190A5,//#32db64,
  danger:     #f59170,//#f53d3d,
  light:      rgb(201, 204, 207),//#f4f4f4,
  dark:       #222,
  green:      #a7c638,
  white:      white,// #5EB98B
  celeste: rgb(75, 129, 199),
  verdecassa:     #009639,
  amarillocassa:     #C4D600,
  azulcassa:     #002F6C,
  cafe: rgb(71, 41, 7)

);

// Use the primary color as the background for the toolbar-md-background
$toolbar-md-background:                   color($colors, primary);

// Use the default background for the tabbar since it inherits from toolbar
$tabbar-md-background:                    #f8f8f8;

// Change the color of the tabs text
$tab-button-md-active-color:              color($colors, primary);
$tab-button-md-inactive-color:            #8c8c8c;

// Change the color of the segment button text
$toolbar-md-active-color:                 #fff;
$toolbar-md-inactive-color:               #fff;
$segment-button-md-text-color-activated:  #fff;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

.cafe {
  .toolbar-background {
    background-color: map-get($colors, cafe);
  }
  .header .toolbar-title {
    color: #FFF;
   }
  .header .tooblar-background {
    border-color: map-get($colors, cafe);
    background-color: map-get($colors, cafe);
  }
  .header .tooblar-background-md {
    border-color: map-get($colors, cafe);
    background-color: map-get($colors, cafe);
  }
}
.azul {
  .toolbar-background {
    background-color: map-get($colors, azulcassa);
  }
  .header .toolbar-title {
    color: #FFF;
   }
  .header .tooblar-background {
    border-color: map-get($colors, azulcassa);
    background-color: map-get($colors, azulcassa);
  }
  .header .tooblar-background-md {
    border-color: map-get($colors, azulcassa);
    background-color: map-get($colors, azulcassa);
  }
}

.verde{
  .toolbar-background {
    background-color: map-get($colors, verdecassa);
  }
  .header .toolbar-title {
    color: #FFF;
   }
   .header .tooblar-background {
     border-color: map-get($colors, verdecassa);
     background-color: map-get($colors, verdecassa);
   }
   .header .tooblar-background-md {
    border-color: map-get($colors, verdecassa);
    background-color: map-get($colors, verdecassa);
  }
}

.amarillo{
  .toolbar-background {
    background-color: map-get($colors, amarillocassa);
  }
  
  .header .toolbar-title {
    color: black;
   }
   .header{
     background-color: map-get($colors, amarillocassa);
   }
   .header .tooblar {
    border-color: map-get($colors, amarillocassa);
     background-color: map-get($colors, amarillocassa);
   }

   .header .tooblar-md {
    border-color: map-get($colors, amarillocassa);
    background-color: #C4D600;
  }
}
