<!--
  Generated template for the MaquinariaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Maquinaria</ion-title>
  </ion-navbar>

</ion-header>
<ion-content >
  <div (swipe)="swipe($event)">

    <ion-grid>
      <ion-row>
        <ion-col col-10>
            <ion-item>
                <ion-label stacked>{{appCoop == 'mecanizada' ? 'Cosechadora' : 'Alzadora'}}</ion-label>
                <!--<ion-input type="text" [(ngModel)]="cosechadora"></ion-input>-->
                <select-searchable
                item-content
                [(ngModel)]="cosechadora"
                [items]="cosechadoras"
                itemValueField="idequipo"
                itemTextField="nombreequipo"
                [hasVirtualScroll]="true"
                [canSearch]="true"
                (onChange)="selectChange($event,'cosechadora')">
                </select-searchable> 
                
              </ion-item>
        </ion-col>
        <ion-col col-2>
              <button ion-button item-right icon-only color="light" (click)=barCosechadora()>
                  <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
                </button>
        </ion-col>
      </ion-row>
      <div *ngIf="appCoop=='mecanizada'">
      <ion-row>
          <ion-col col-10>
              <ion-item>
                  <ion-label stacked>Tractor (1)</ion-label>
                  <!--<ion-input type="text" [(ngModel)]="cosechadora"></ion-input>-->
                  <select-searchable
                  item-content
                  [(ngModel)]="tractor1"
                  [items]="tractores"
                  itemValueField="idequipo"
                  itemTextField="nombreequipo"
                  [hasVirtualScroll]="true"
                  [canSearch]="true"
                  (onChange)="selectChange($event,'tractor1')">
                  </select-searchable> 
                  
                </ion-item>
          </ion-col>
          <ion-col col-2>
                <button ion-button item-right icon-only color="light" (click)=barTractor1()>
                    <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
                  </button>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-8>
                <ion-item>
                    <ion-label stacked>Tractor (2)</ion-label>
                    <!--<ion-input type="text" [(ngModel)]="cosechadora"></ion-input>-->
                    <select-searchable
                    item-content
                    [(ngModel)]="tractor2"
                    [items]="tractores"
                    itemValueField="idequipo"
                    itemTextField="nombreequipo"
                    [hasVirtualScroll]="true"
                    [canSearch]="true"
                    (onChange)="selectChange($event,'tractor2')">
                    </select-searchable> 
                  </ion-item>
            </ion-col>
            <ion-col col-2>
                    <button ion-button (click)="removeSelection('tractor2')">
                        <ion-icon name='close'></ion-icon>
                     </button>
            </ion-col>
            <ion-col col-2>
                  <button ion-button item-right icon-only color="light" (click)=barTractor2()>
                      <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
                    </button>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col col-8>
                  <ion-item>
                      <ion-label stacked>Tractor (3)</ion-label>
                      <!--<ion-input type="text" [(ngModel)]="cosechadora"></ion-input>-->
                      <select-searchable
                      item-content
                      [(ngModel)]="tractor3"
                      [items]="tractores"
                      itemValueField="idequipo"
                      itemTextField="nombreequipo"
                      [hasVirtualScroll]="true"
                      [canSearch]="true"
                      (onChange)="selectChange($event,'tractor3')">
                      </select-searchable> 
                      
                    </ion-item>
                </ion-col>
               <ion-col col-2>
                        <button ion-button  (click)="removeSelection('tractor3')">
                            <ion-icon name='close'></ion-icon>
                         </button>
                </ion-col>
              
              <ion-col col-2>
                    <button ion-button item-right icon-only color="light" (click)=barTractor3()>
                        <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
                      </button>
              </ion-col>
            </ion-row>
      </div>
    </ion-grid>

  
</div>
  </ion-content>

