<!--
  Generated template for the SincronizarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>sincronizar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Seleccione lo que desea descargar
    </ion-list-header>

    <ion-item>
      <ion-label>Liberaciones</ion-label>
      <ion-checkbox color="dark" checked="false" [(ngModel)]="liberaciones"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Trabajadores</ion-label>
      <ion-checkbox color="dark" checked="false" [(ngModel)]="trabajadores"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Bloque</ion-label>
      <ion-checkbox color="dark" checked="false" [(ngModel)]="bloque"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Haciendas y Lotes</ion-label>
      <ion-checkbox color="dark" checked="false" [(ngModel)]="haciendas"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Equipos</ion-label>
      <ion-checkbox color="dark" checked="false" [(ngModel)]="equipos"></ion-checkbox>
    </ion-item>

    <button ion-button block (click)=ObtenerDatos()>Descargar Información</button>
    
  </ion-list>
</ion-content>
