<!--
  Generated template for the CrearPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-tabs #myTabs class="tabs-icon-text" [color]="variable"  (ionChange)="transition($event)">
  <ion-tab tabIcon="people" tabTitle="Tripulación" [root]="Tripulacion" (ionSelect)="this.title ='Tripulación'"></ion-tab>
  <ion-tab [show] = "appCoop != 'picada'" tabIcon="custom-tractor" tabTitle="Maquinaria" [root]="Maquinaria" (ionSelect)="this.title ='Maquinaria'"></ion-tab>
  <ion-tab tabIcon="create" tabTitle="Liberación" [root]="Liberacion" (ionSelect)="this.title ='Liberación'" ></ion-tab>
  <ion-tab tabIcon="custom-out" tabTitle="Envío" [root]="Envios" (ionSelect)="this.title ='Envíos'"></ion-tab>
  <ion-tab [show] = "appCoop == 'manual'" tabIcon="person-add" tabTitle="Rozadores" [root]="Rozadores" (ionSelect)="this.title ='Rozadores'"></ion-tab>
  <ion-tab tabIcon="power" tabTitle="Fin de Turno" [color]="danger" (ionSelect)=finTurno() ></ion-tab>
</ion-tabs>
