<!--
  Generated template for the LiberacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Liberación</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div (swipe)="swipe($event)">
  <ion-list >
    
    <ion-item>
      <ion-label stacked>Hacienda</ion-label>
      <select-searchable
          item-content
          [(ngModel)]="hda"
          [items]="hdas"
          itemValueField="idhacienda"
          itemTextField="dshacienda"
          [canSearch]="true"
          [hasVirtualScroll]="true"
          (onChange)="hdaChange($event)">
      </select-searchable>
  </ion-item>
    <ion-item>
      <ion-label stacked>Lote</ion-label>
    <!-- <ion-select [(ngModel)]="lote" (ionChange)=loteChange($event)>
      <ion-option *ngFor="let lote of lotes" value="{{lote.idlote}}">{{lote.bklote}}</ion-option>
    </ion-select> -->
    <select-searchable
          item-content
          [(ngModel)]="lote"
          [items]="lotes"
          itemValueField="idlote"
          itemTextField="bklote"
          [canSearch]="true"
          [hasVirtualScroll]="true"
          (onChange)="loteChange($event)">
      </select-searchable>
    </ion-item>
    <!--<ion-item>
      <button color="primary" ion-button block><ion-icon name="locate"></ion-icon>OBTENER UBICACIÓN</button>
    </ion-item>-->
    <ion-item style="display: none;">
      <ion-label>Solo Liberaciones de la Hacienda</ion-label>
      <ion-toggle [(ngModel)]="todaslib" (ionChange)="changeLib()"></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-label stacked>Liberaciones</ion-label>
        <!-- <ion-select [(ngModel)]="liberacion" (ionChange)=setLiberacion() >
          <ion-option *ngFor="let libe of liberaciones" value="{{libe.codliberacion}}">{{libe.codliberacion}}</ion-option>
        </ion-select> -->
        <select-searchable
          item-content
          [(ngModel)]="liberacion"
          [items]="liberaciones"
          itemValueField="codliberacion"
          itemTextField="dsliberacion"
          [canSearch]="true"
          [hasVirtualScroll]="true"
          (onChange)="setLiberacion($event)">
      </select-searchable>
    </ion-item>
  
          <ion-item>
            <ion-label stacked>Bloque de Cosecha</ion-label>
            <!--<ion-input type="text" [(ngModel)]="chequero"></ion-input>-->
        
            <!-- <select-searchable
                  item-content
                  [(ngModel)]="bloque"
                  [items]="bloques"
                  itemValueField="idbloque"
                  itemTextField="dsbloque"
                  [hasVirtualScroll]="true"
                  [canSearch]="true"
                  (onChange)="selectChange($event)">
              </select-searchable>
             -->
             <ion-input type="text" [(ngModel)]="bloque" [readonly]="true"></ion-input>
     </ion-item>
  
  </ion-list>
</div>
  </ion-content>