<!--
  Generated template for the CambioAppPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cambiar Aplicación</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label stacked>Aplicativo</ion-label>
        <ion-select [(ngModel)]="aplicativo" submitText="Aceptar" cancelText="Cancelar" (ionChange)=saveApp()>
          <ion-option value="mecanizada">MECANIZADA</ion-option>
          <ion-option value="manual">MANUAL</ion-option>
        </ion-select>
      </ion-item>
</ion-content>
