<!--
  Generated template for the PopoverconsultarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-list>
    <ion-item>
        <ion-label>Seleccionar Periodo</ion-label>
        <ion-toggle [(ngModel)]="filtrarfecha"></ion-toggle>
      </ion-item>
     
    <ion-item>
        <ion-label stacked>Fecha inicio: </ion-label>
        <ion-input [disabled]="!filtrarfecha" [(ngModel)]="fecini" [readonly] = "true" placeholder="dd/MM/yyyy" (click) = "showDatePicker('fecini')"></ion-input>
        <ion-input [disabled]="!filtrarfecha" [(ngModel)]="horini" [readonly] = "true" placeholder="HH:mm" ></ion-input>
        
      </ion-item>
      <ion-item>
          <ion-label stacked>Fecha fin: </ion-label>
          <ion-input [disabled]="!filtrarfecha" [(ngModel)]="fecfin" [readonly] = "true" placeholder="dd/MM/yyyy" (click) = "showDatePicker('fecfin')"></ion-input>
          <ion-input [disabled]="!filtrarfecha" [(ngModel)]="horfin" [readonly] = "true" placeholder="HH:mm" ></ion-input>
      </ion-item>
     
        <ion-item>
            <ion-buttons>
                <button full ion-button (click)=cerrarPopover()>Hecho</button>
            </ion-buttons>
        </ion-item>
</ion-list>
